/* Estilos para los modales */

.modal {
    position: fixed; 
    z-index: 1000; 
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center; 
    justify-content: center;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.visible { 
    opacity: 1; 
    visibility: visible; 
}
.modal-content-unified {
    width: 90%; 
    max-width: 550px;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
.modal-content-choice {
    width: 90%; 
    max-width: 400px;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
.modal.visible .modal-content-unified,
.modal.visible .modal-content-choice { 
    transform: scale(1); 
}
